font = Helvetica, Arial, sans-serif
background-color = #6BCDFF

body
  font 12px font
  background-color background-color
  text-align center
  color white
  font-size xx-large

#headLine
  padding-bottom: 20px

#googleMap
  border-radius 12px
  margin-left auto
  margin-right auto
