font = Helvetica, Arial, sans-serif
background-color = #6BCDFF

body
  display block
  font 12px font
  background-color background-color
  text-align center
  color white
  font-size xx-large
  height 100%

#headLine
  padding-bottom: 20px

#googleMap
  border-radius 12px
  margin-left auto
  margin-right auto
  width 70%
  height 500px

.gm-style-iw
  color black
