<div class='col-3'>
  <div class='card padded'>
    <h1>{{ details.mon.belongsToMonument.description }}</h1>
    <p>{{ details.mon.formatted }}</p>
  </div>
</div>
<div class='col-3'>
  <div class='card padded'>
    <a href='{{details.linkedData.link}}'>More information</a>
  </div>
</div>
<div class='col-3'>
  <div class='card' ng-repeat='imageUrl in details.linkedData.images'>
    <img class='detail' ng-src='{{imageUrl}}'>
  </div>
</div>

<div id='action-button' class="floating-action-button" ng-click='goBack()'>
  <span class='height-fix'>X</span>
</div>